<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>Payment</h1>
          <p class="lead">Your are about to pay BitPlaya for your Bitcoins</p>
          <p class="text-danger"><%= flash[:notice]%></p>
          
          <br><br><br>

<%= form_tag payment_path, method: :get, action: "new_payment", class: "col-lg-12", role: "search" do %>
  <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
    <p>Enter amount to pay <p class="text-danger">Minimum is 100 € or equivalent </p></p>
    <%= number_field_tag :amount, params[:amount], class: "form-control input-lg" %>
    <p class="pad-top">Write the Bitcoin address where to send to</p>
    <%= text_field_tag :description, params[:description], class: "form-control input-lg" %>
    <div class="pad-top1"></div>
    <%= submit_tag "Proceed", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

          <br>

<!--           <div class="btn btn-lg btn-primary">FOR USD</div> -->

        </div>
        
      </div> <!-- /row -->
  
  	  <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <ul>
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <li class="btn btn-default" role="group" aria-label="..."><a href="#safe_payment">Safe payment</a></li>
              <li class="btn btn-default" role="group" aria-label="..."><a href="#invoice">Your Bitcoin address</a></li>
              <li class="btn btn-default" role="group" aria-label="..."><a href="#before">Before paying</a></li>
           </div>          
          </ul>
        </div>
      
      </div>
  
  	<br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">
  
  	<hr>
  
  	<div class="row">
        <div class="col-md-4" id="safe_payment">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Safe payment</h3></div>
            <div class="panel-body">
            <a href="https://stripe.com" target="_blank">Stripe</a> has been audited by a PCI-certified auditor, and is certified to <a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe" target="_blank">PCI Service Provider Level 1</a> . This is the most stringent level of certification available.
            </div>
          </div>
        </div>
      	<div class="col-md-4" id="invoice">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Your Bitcoin address</h3></div>
            <div class="panel-body">
            You are asked to provide us with a Bitcoin address so that we know where we can send your newly purchased bitcoin to. Careful, if you provide us with a wrong Bitcoin address, your bitcoins will be lost.
            </div>
          </div>
        </div>
      	<div class="col-md-4" id="before">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Before paying</h3></div>
            <div class="panel-body">
            Before paying please make sure:
            <ol>
              <li>You understand the only fee which is 10% and includes currency conversion, miner fee, payment processing...</li>
              <li>You understand that you are buying Bitcoins</li>
              <li>You undestand that if the bitcoin address provided is wrong, it is irreversible</li>
            </ol> 
            </div>
          </div>
        </div>
    </div>
  
	<div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"> ©Copyright <%= link_to "Monolok", "#"%> <%=Time.now.year%></p>
        <br><br>
        </div>
    </div>
</div>
